@import 'src/scss/variables';

.footer{
  border-top: 1.5px solid #9ea4b2;
  width: 100%;
  text-align: center;
  margin-top: -50px;
  padding-bottom: 2px;
}
/* test */
.english {

  max-width: 100%;
  justify-content: center;
  margin: 10px 10% 100px 10% !important;
  
  &__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 2.5em;
  text-align: center;
  letter-spacing: -0.015em;
  color: $color-black;
  margin-top: 0px;
  }

  &__menu{
    width: 100%;
    height: 100px;
    text-align: center; 
    display: inline-flex;
  }

  &__headshot{
    text-align: center;
  }

  &__img{
    width: 70%;
    max-height: 400px;
    object-fit: contain;
  }

  &__left{
    text-align: left;
    width: 50%;
    display: grid;
    margin-top: 14px;
  }

  &__right{
    display: inline-grid;
    grid-template-columns: 10ch 10ch 10ch 10ch auto;
    text-align: right;
    width: 50%;
    justify-content: right;
  }

  ul:hover, a:hover{
    color: #9ea4b2 !important;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .podcasts li {
    margin-left: 15px;
  }

  .music_search {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .music_search a {
    flex: 1 1 auto;
    padding: 0px 5px 0px 5px;
    text-align: center;
  }

  .iframes {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1 1 0px;
    width: 100%;
  }

  iframe {
    flex: 1 1 auto;
    padding: 0px 20px 20px 20px;
    width: 300px;
    height: 200px;
  }

  .languagePicker{
    float: right;
  }

  .dropdown{
    padding: 0px;
    font-size: 0.8em;
    width: inherit;
  }

  button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  @media only screen and (max-width:$media-m1-max) {
    &__heading{
      font-size: 1.75em;
      line-height: 1em;
    }
    &__menu{
      width:75%;
    }
    iframe {
      height: 80px;
    }
  }
}

